.class{
    color: red;
    background-color: blue;
    background-image: url("https://media.dev.to/cdn-cgi/image/width=1280,height=720,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fi%2Fz2ksz0cp7hopl78hl3z1.png");
}