<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'uw.css' %}">
    <title>UnderWater form</title>
</head>

<body class="main_bg">
    <div class="form">
        <div class="form-text">
            <h1>Book Now</h1>
            <p>Being able to breathe underwater would be sweet.</p>
        </div>
        <div class="main-form">
            <form action="index.php" method="get">
                <div>
                    <span>Name</span>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <span>Email</span>
                    <input type="email" name="email" id="email" required> 
                </div>
                <div>
                    <span>Phone Number</span>
                    <input type="number" name="number" id="number" required>
                </div>
                <div>
                    <span>Wedding reception planning date</span>
                    <input type="date" name="date" id="date" placeholder="date" required> 
                </div>
                <div>
                    <span>Arrival time at the location</span>
                    <input type="time" name="time" id="time" placeholder="time" required> 
                </div>
                <div>
                    <span>Type of reception</span>
                    <select name="booking" id="booking" required>
                        <option value="1">Daytime only</option>
                        <option value="2">Daytime & Evening</option>
                        <option value="3">Evening only</option>
                        <option value="4">Full day</option>
                    </select>
                </div>
                
                <div id="submit">
                    <input type="submit" value="SUBMIT" id="submit">
                </div>


            </form>
        </div>
    </div>
</body>

</html>